{% load static %}

<section class="wrapper">
    <div class="container py-14 py-md-16">
      <div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
        <div class="col-lg-5">
            <h2 class="fs-15 text-uppercase text-line text-primary mb-3">Our Customers</h2>
            {% comment %} <h3 class="display-5 mb-7 pe-xxl-5">Everything you need on creating a business process.</h3> {% endcomment %}
            <p>Our customers enjoy the services that is tailored to every customer needs. Quality of services and the commitment of our Directors and staff has ensured that our customer retention is highest in the Warranty Market of USA.</p>
          </div>
        <div class="col-lg-7">
          <figure><img class="w-auto" src={% static 'img/illustrations/i3.png' %} alt=""></figure>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </section>