{% load static %}

<section class="wrapper">
    <div class="container py-14 py-md-16">
      <div class="row gx-lg-8 gx-xl-12 gy-10 mb-lg-22 align-items-center">
        <div class="col-lg-5">
            <h2 class="fs-15 text-uppercase text-line text-primary mb-3">Our Vision</h2>
            {% comment %} <h3 class="display-5 mb-7 pe-xxl-5">Everything you need on creating a business process.</h3> {% endcomment %}
            <p>The Vision of Mejor Communications is to provide an excellent environment to employees and efficient services to our customers. We have believed in providing excellent services to all our customers. Our employees are the key to our successful and growing business. Careful selection, Training and support are of upper most importance.</p>
          </div>
        <div class="col-lg-7">
          <figure><img class="w-auto" src={% static 'img/illustrations/i3.png' %} alt=""></figure>
        </div>
      </div>
    </div>
    <!-- /.container -->
  </section>