{% load static %}
<section class="wrapper bg-soft-primary">
    <div class="container py-14 py-md-16">
      <div class="row mb-10">
        <div class="col-xl-10 mx-auto">
          <div class="row align-items-center counter-wrapper gy-6 text-center">
            <div class="col-md-3">
              <img src={% static 'img/icons/lineal/check.svg' %} class="svg-inject icon-svg icon-svg-lg text-primary mb-3" alt="" />
              <h3 class="counter">7518</h3>
              <p>Completed Projects</p>
            </div>
            <!--/column -->
            <div class="col-md-3">
              <img src={% static 'img/icons/lineal/user.svg' %} class="svg-inject icon-svg icon-svg-lg text-primary mb-3" alt="" />
              <h3 class="counter">3472</h3>
              <p>Satisfied Customers</p>
            </div>
            <!--/column -->
            <div class="col-md-3">
              <img src={% static 'img/icons/lineal/briefcase-2.svg' %} class="svg-inject icon-svg icon-svg-lg text-primary mb-3" alt="" />
              <h3 class="counter">2184</h3>
              <p>Expert Employees</p>
            </div>
            <!--/column -->
            <div class="col-md-3">
              <img src={% static 'img/icons/lineal/award-2.svg' %} class="svg-inject icon-svg icon-svg-lg text-primary mb-3" alt="" />
              <h3 class="counter">4523</h3>
              <p>Awards Won</p>
            </div>
            <!--/column -->
          </div>
          <!--/.row -->
        </div>
        <!-- /column -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </section>