{% load static %}
<section class="wrapper bg-soft-primary">
    <div class="container pt-16 pb-14 pb-md-0">
      <div class="row gx-lg-8 gx-xl-0 align-items-center">
        <div class="col-md-5 col-lg-4 offset-lg-1 d-none d-md-flex position-relative">
          <div class="shape rounded-circle bg-pale-primary rellax w-21 h-21" data-rellax-speed="1" style="top: 7rem; left: 1rem"></div>
          <figure><img src={% static 'img/photos/co1.png' %} srcset="./assets/img/photos/co1@2x.png 2x" alt=""></figure>
        </div>
        <!--/column -->
        <div class="col-md-7 col-lg-6 col-xl-6 col-xxl-5 offset-xl-1">
          <div class="basic-slider owl-carousel dots-start gap-small mt-6" data-margin="30">
            <div class="item">
              <blockquote class="icon fs-lg">
                <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum ligula porta felis euismod semper. Cras justo odio consectetur nulla dapibus curabitur blandit.”</p>
                <div class="blockquote-details">
                  <div class="info ps-0">
                    <h5 class="mb-1">Coriss Ambady</h5>
                    <p class="mb-0">Financial Analyst</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.item -->
            <div class="item">
              <blockquote class="icon fs-lg">
                <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum ligula porta felis euismod semper. Cras justo odio consectetur adipiscing dapibus curabitur blandit.”</p>
                <div class="blockquote-details">
                  <div class="info ps-0">
                    <h5 class="mb-1">Cory Zamora</h5>
                    <p class="mb-0">Marketing Specialist</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.item -->
            <div class="item">
              <blockquote class="icon fs-lg">
                <p>“Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Vestibulum ligula porta felis euismod semper. Cras justo odio consectetur adipiscing dapibus curabitur blandit.”</p>
                <div class="blockquote-details">
                  <div class="info ps-0">
                    <h5 class="mb-1">Nikolas Brooten</h5>
                    <p class="mb-0">Sales Manager</p>
                  </div>
                </div>
              </blockquote>
            </div>
            <!-- /.item -->
          </div>
          <!-- /.owl-carousel -->
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /.container -->
  </section>