<div class="owl-item" style="width: 751px">
  <div
    class="owl-slide d-flex align-items-center bg-overlay bg-overlay-400"
    style="background-image: url(./assets/img/photos/bg8.jpg)"
  >
    <div class="container">
      <div class="row">
        <div class="col-md-11 col-lg-8 col-xl-7 col-xxl-6 mx-auto text-center">
          <h2
            class="display-1 fs-56 mb-4 text-white animated-caption"
            data-anim="animate__slideInDown"
            data-anim-delay="500"
            style="animation-delay: 500ms"
          >
            We are trusted by over a million customers.
          </h2>
          <p
            class="lead fs-23 lh-sm mb-7 text-white animated-caption"
            data-anim="animate__slideInRight"
            data-anim-delay="1000"
            style="animation-delay: 1000ms"
          >
            Here a few reasons why our customers choose us.
          </p>
          <div
            class="animated-caption"
            data-anim="animate__slideInUp"
            data-anim-delay="1500"
            style="animation-delay: 1500ms"
          >
            <a
              href="./assets/media/movie.mp4"
              class="btn btn-circle btn-white btn-play ripple mx-auto mb-5"
              data-glightbox=""
              ><i class="icn-caret-right"></i
            ></a>
          </div>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!--/.container -->
  </div>
</div>
