{% load static %}
<div class="row gx-lg-8 gx-xl-12 gy-10 align-items-center">
    <div class="col-lg-7">
        <figure><img class="w-auto" src={% static 'img/illustrations/i6.png' %} alt="" /></figure>
      </div>
    <div class="col-lg-5">
        <h2 class="fs-16 text-uppercase text-muted mb-3">Why Choose Us?</h2>
        <h6 class="mb-7">We strive for EXCELLENCE</h6>
        <p>
            TMC believes in excellence because excellence is doing ordinary things extraordinarily well.TMC paves the way of opportunities and in the world of perfectionists we Aim for Excellence. We Differentiates extraordinary people from ordinary people. We cultivates excellence over a period of time through hard work, wise work, and smart work.
        </p>
        <h6 class="mb-7">We Believe in TEAMWORK</h6>

        <p>
            TMC Believes that Talent wins games, but teamwork and intelligence win championships. TMC knows that teamwork begins by building trust. And the only way to do that is to overcome our need for invulnerability.
        </p>
      </div>
  </div>