{% extends 'base.html' %} {% load static %}
{% block content %}
{% include 'layouts/breadcrumb.html' %}

<div class="container py-14 py-md-16">
  <div class="row">
    <div class="col-xl-10 mx-auto">
      <div class="row gy-10 gx-lg-8 gx-xl-12">
        <div class="col-lg-8">
          <form
            class="contact-form needs-validation"
            enctype="multipart/form-data"
            method="post"
            action="{% url 'apply' %}"
            novalidate=""
          >
            {% csrf_token %}
            <div class="messages"></div>
            <div class="row gx-4">
              <div class="col-md-4">
                <div class="form-floating mb-4">
                  {{form.name}}
                  <label for="name">{{form.name.label}}</label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-floating mb-4">
                  {{form.age}}
                  <label for="age">{{form.age.label}}</label>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-floating mb-4">
                  {{form.marital_status}}
                  <label for="marital_status"
                    >{{form.marital_status.label}}</label
                  >
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating mb-4">
                  {{form.employer_1}}
                  <label for="form_lastname">{{form.employer_1.label}}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-4">
                  {{form.designation_1}}
                  <label for="form_lastname"
                    >{{form.designation_1.label}}</label
                  >
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating mb-4">
                  {{form.experience_1}}
                  <label for="form_lastname">{{form.experience_1.label}}</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating mb-4">
                  {{form.employer_2}}
                  <label for="form_lastname">{{form.employer_2.label}}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-4">
                  {{form.designation_2}}
                  <label for="form_lastname"
                    >{{form.designation_2.label}}</label
                  >
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating mb-4">
                  {{form.experience_2}}
                  <label for="form_lastname">{{form.experience_2.label}}</label>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-floating mb-4">
                  {{form.employer_3}}
                  <label for="form_lastname">{{form.employer_3.label}}</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating mb-4">
                  {{form.designation_3}}
                  <label for="form_lastname"
                    >{{form.designation_3.label}}</label
                  >
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-floating mb-4">
                  {{form.experience_3}}
                  <label for="form_lastname">{{form.experience_3.label}}</label>
                </div>
              </div>

              <!-- /column -->
              <div class="col-md-6">
                <div class="form-floating mb-4">
                  {{form.cv}}

                  <label for="cv">{{form.cv.label}} *</label>
                </div>
              </div>
              <!-- /column -->
              <div class="col-md-6">
                <div class="form-floating mb-4">
                  {{form.audio}}

                  <label for="audio">{{form.audio.label}} *</label>
                </div>
              </div>
              <!-- /column -->
              <div class="col-12">
                <input
                  type="submit"
                  class="btn btn-primary rounded-pill btn-send mb-3"
                  value="Submit"
                />
                <p class="text-muted">
                  <strong>*</strong> These fields are required.
                </p>
              </div>
              <!-- /column -->
            </div>
            <!-- /.row -->
          </form>
          <!-- /form -->
        </div>
        <!--/column -->
        <div class="col-lg-4">
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1">
                <i class="uil uil-location-pin-alt"></i>
              </div>
            </div>
            <div>
              <h5 class="mb-1">Address</h5>
              <address>
                1-C/3 Canal Park, Sikandar Ali Malhi Rd, Gulberg 2, Lahore, Punjab 54000, Pakistan
              </address>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1">
                <i class="uil uil-phone-volume"></i>
              </div>
            </div>
            <div>
              <h5 class="mb-1">Phone</h5>
              <p>+92 324 6128556</p>
            </div>
          </div>
          <div class="d-flex flex-row">
            <div>
              <div class="icon text-primary fs-28 me-4 mt-n1">
                <i class="uil uil-envelope"></i>
              </div>
            </div>
            <div>
              <h5 class="mb-1">E-mail</h5>
              <p class="mb-0">
                <a href="mailto:hello@themejorcommunications.com" class="link-body"
                  >hello@themejorcommunications.com</a
                >
              </p>
              <p>
                <a href="mailto:start@themejorcommunications.com" class="link-body"
                  >start@themejorcommunications.com</a
                >
              </p>
            </div>
          </div>
        </div>
        <!--/column -->
      </div>
      <!--/.row -->
    </div>
    <!-- /column -->
  </div>
</div>

{% endblock content %}
